<% provide(:title, "Top") %>
  <div class="row">
    <div class="col-md-7">
<div class="jumbotron">
  <h1>TaskApp</h1>
  <p>
    TaskAppは簡易ToDo管理ツールです。
  </p>

  <p>↓↓初めてのご利用↓↓</p>
    <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-success" %>

  </div>
  </div>
  
  <div class="col-md-4">
  <h1>ログイン</h1>
  <center>
    
    <%= link_to "Log In", login_path, class: "btn btn-lg btn-primary" %>
  </center>
  </div>
  </div>
</div>

